*{
    box-sizing: border-box;
}

.highest-rated {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 1.2em;
    margin: 0 auto;
    overflow: scroll;
}

.kitchen-name {
    font-size: 1em
}

.kitchen-description {
    font-size: .75em;
}

.kitchen-image {
    height: 15em;
    width: 15em;
}

.main-container {
    /* background-image: url("https://img.okezone.com//content/2016/11/11/298/1539303/ternyata-ini-arti-piring-bersih-setelah-makan-di-beberapa-negara-Bz9YXO886K.jpg"); */
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

.card-panel {
    background-color: rgb(243, 240, 240);
    margin: 2em 2em;
    max-width: 40vh;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: black !important;
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
  }

.card-panel:hover {
    background-color: rgb(229, 226, 226);
}

.autocomplete-div {
    text-align: center;
}
img {
    max-width: 20vh !important;
}
.dishes{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5vh;
    overflow: scroll;
}
.customerAccount {
    grid-row: 1/2;
    grid-column: 1/2;
}

.customerAside{
    grid-row: 1/2;
    grid-column: 2/3;
}

.customerMainContainer {
    display: grid;
    margin-left: 3em;
}

.profileProperties {
    font-size: 1.3em;
    color: darkgrey;
}