{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HomeCooked</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/landing.js' %}"></script>
</head>
<body>
    <header>
        <section class="logo">
            <p>Home Cooked</p>
        </section>
        <section class="login">
            {% block userinfo %}
            {% if user.is_authenticated %}
              <p>Welcome Back {{ user.username }}!</p>
            {% else %}
              <p>Join the Party!</p>
            {% endif %}
            {% endblock %}
        </section>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>