{% extends 'homecooked/base.html' %} 

{% block content %}
{% if user.is_authenticated %}
<h2>you are logged in and content will be displayed here.</h2>
{% else %}
<section class="overview ">

    <div class="cook">
        <section class="catcher ">
            <h3 class="topLine"> Connecting </br> Cooks</h3>
            <h3 class="bottomLine"> to Customers</h3>
        </section>
        <section class="detail">
            <article class="area1">
                <img src="/static/images/pexels-photo-277253.jpeg">
                <p> Kickstarter sartorial chillwave vexillologist hoodie cray. Succulents chia la croix irony direct trade plaid
                    poutine af chillwave artisan mustache man bun butcher cardigan YOLO. </p>
            </article>
            <article class="area2">
                <img src="/static/images/pexels-photo-277253.jpeg">
                <p> Kickstarter sartorial chillwave vexillologist hoodie cray. Succulents chia la croix irony direct trade plaid
                    poutine af chillwave artisan mustache man bun butcher cardigan YOLO. </p>
            </article>
            <article class="area3">
                <img src="/static/images/pexels-photo-277253.jpeg">
                <p> Kickstarter sartorial chillwave vexillologist hoodie cray. Succulents chia la croix irony direct trade plaid
                    poutine af chillwave artisan mustache man bun butcher cardigan YOLO. </p>
            </article>
        </section>
    </div>

    <div class="customer ">
        <section class="catcher l">
            <h3 class="topLine">Bringing home </h3>
            <h3 class="topLine">cooked meals </h3>
            <h3 class="bottomLine">stright to you</h3>
        </section>
        <section class="detail ">
            <article class="area1 ">
                <img src="/static/images/pexels-photo-277253.jpeg">
                <p> Kickstarter sartorial chillwave vexillologist hoodie cray. Succulents chia la croix irony direct trade plaid
                    poutine af chillwave artisan mustache man bun butcher cardigan YOLO. </p>
            </article>
            <article class="area2">
                <img src="/static/images/pexels-photo-277253.jpeg">
                <p> Kickstarter sartorial chillwave vexillologist hoodie cray. Succulents chia la croix irony direct trade plaid
                    poutine af chillwave artisan mustache man bun butcher cardigan YOLO. </p>
            </article>
            <article class="area3 ">
                <img src="/static/images/pexels-photo-277253.jpeg">
                <p> Kickstarter sartorial chillwave vexillologist hoodie cray. Succulents chia la croix irony direct trade plaid
                    poutine af chillwave artisan mustache man bun butcher cardigan YOLO. </p>
            </article>
        </section>
    </div>
    <span class="cd-handle"></span>
</section>
{% endif %}
{% endblock %}