{% extends 'homecooked/base.html' %} {% block content %}

<section class="overview">

    <div class="cook">
        <section class="catcher">
            <h3> Connecting</h3>
            <h3> Cooks</h3>
            <h3> to Customers</h3>
        </section>
        <section class="detail">
            <article>
                <img src="#">
                <p> Area 1</p>
            </article>
            <article>
                <img src="#">
                <p> Area 2</p>
            </article>
            <article>
                <img src="#">
                <p> Area 3</p>
            </article>
        </section>
    </div>
    <div class="customer">
        <section class="catcher">
            <h3>Bringing home </h3>
            <h3>cooked meals </h3>
            <h3>Stright to you</h3>
        </section>
        <section class="detail">
            <article>
                <img src="#">
                <p> Area 1</p>
            </article>
            <article>
                <img src="#">
                <p> Area 2</p>
            </article>
            <article>
                <img src="#">
                <p> Area 3</p>
            </article>
        </section>
    </div>

</section>

{% endblock %}