{% extends 'homecooked/landing.html' %} 

{% block loggedin %}

<div class="customerMainContainer container">
    <section class="customerAccount"> 
        <h3 class="accountTitle"> Your Account </h5>
        <img class="accountAvatar" src=""/>
        <h5 class="accountTitles">Name: {{profile.user.username}}</h5> 
        <h5 class="accountTitles">Email: {{profile.user.email}}</h5> 
        <h5 class="accountTitles">Address: {{profile.address}}</h5> 
        <h5 class="accountTitles">Bio: {{profile.bio}}</h5>    
    </section>
    <!-- <section class="customerAside">
        <h3 class="accountNavTitle">{{profile.user.username}}</h2>
        <h4 class="accountNav"><a href="">Profile</h5>
        <h4 class="accountNav"><a href="">Address and Phone</h5>
        <h4 class="accountNav"><a href="">Orders</h5>
    </section>     -->
</div>

{% endblock %}