{% extends 'homecooked/landing.html' %} 
{% load static %}

{% block loggedin %}
<div class="main-container">
    <br/>
    <div class="row">
        <div class="col s12">
        <div class="row">
            <div class="autocomplete-div">
            <div class="input-field col s11">
            <i class="material-icons prefix"></i>
            <input type="text" id="autocomplete-input" placeholder="{{user.username}}~ what are you hungry for?"class="autocomplete">
            <label for="autocomplete-input"></label>
            </div>
            </div>
        </div>
        </div>
    </div>


<div class="container">
    <h3>~ Popular ~</h3>

    <hr>
<section class="highest-rated">

    {% for kitchen in kitchens %}
    <div id='{{kitchen.pk}}' class="card-panel hoverable sticky-action kitchenCard">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{kitchen.logo.url}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{kitchen.name}}<i class="material-icons right"></i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right"></i></span>
          <p>{{kitchen.description}}</p>
        </div>
      </div>
      <a href="{% url 'kitchenForm' %}"><h1>Make A kitchen</h1></a>
      {%empty%}
      <h1>sorry no kitchens in you're area at this time :(</h1>
     <a href='{% url 'kitchenForm' %}' id="makeKitchen"><h1>Make A kitchen</h1></a>
    {% endfor %}

    </section>


<h3>~ Delivery ~</h3>
  <hr>
<div class="dishes">
    <br/>
    {% for dish in dishes %}
    <div class="card-panel hoverable sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{dish.image.url}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{dish.name}}<i class="material-icons right"></i></span>
          <p><a href="#">${{dish.price}}</a></p>
          <p>{{dish.description}}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{dish.kitchen.name}}<i class="material-icons right"></i></span>
          
        </div>
      </div>

    {% endfor %}
        <hr>
</div>
</div>

<script>
  $('.kitchenCard').on('click', function(e){
		e.preventDefault();
    console.log(e.currentTarget.id);
    //go to kitchen detail
    id = e.currentTarget.id
	})
</script>
<!-- 
  <script> 
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.autocomplete');
    var instances = M.Autocomplete.init(elems, options);
  });


  // Or with jQuery

  $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: {
        "Mommys Donut Shop": null,
        "Muffin Peeps": null,
        "Gargoyle Express": 'https://placehold.it/250x250'
      },
    });
  });
  </script> -->

{% endblock %}