{% extends 'homecooked/base.html' %} {% block content %}
<div container="main-container">
    <div class="row">
        <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix"></i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Autocomplete</label>
            </div>
        </div>
        </div>
    </div>

<div class="highest-rated">
    <h3>Highest Rated</h3>
    <div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right">close</i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right">close</i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right">close</i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right">close</i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
        </div>
       
<div class="nearbyKitchens"> 
    <h3>Near Me</h3>
    <div class="kitchen"> 
        <h5 class="kitchen-name">{{Dish.name}}</h5>
        <img class="kitchen-image">{{Dish.image}}<h5>
        <p class="kitchen-description">{{Dish.description}}</p>
    </div>
    <div class="kitchen"> 
        <h5 class="kitchen-name">{{Dish.name}}</h5>
        <img class="kitchen-image">{{Dish.image}}<h5>
        <p class="kitchen-description">{{Dish.description}}</p>
        </div>
    <div class="kitchen"> 
        <h5 class="kitchen-name">{{Dish.name}}</h5>
        <img class="kitchen-image">{{Dish.image}}<h5>
        <p class="kitchen-description">{{Dish.description}}</p>
    </div>
    <div class="kitchen"> 
        <h5 class="kitchen-name">{{Dish.name}}</h5>
        <img class="kitchen-image">{{Dish.image}}<h5>
        <p class="kitchen-description">{{Dish.description}}</p>
    </div>
</div>



</div>
  <script> 
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.autocomplete');
    var instances = M.Autocomplete.init(elems, options);
  });


  // Or with jQuery

  $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: {
        "Mommys Donut Shop": null,
        "Muffin Peeps": null,
        "Gargoyle Express": 'https://placehold.it/250x250'
      },
    });
  });
  </script>

{% endblock %}