{% extends 'homecooked/landing.html' %} 

{% block loggedin %}
<div class="main-container">
    <br/>
    <div class="row">
        <div class="col s12">
        <div class="row">
            <div class="autocomplete-div">
            <div class="input-field col s11">
            <i class="material-icons prefix"></i>
            <input type="text" id="autocomplete-input" placeholder="{{user.username}}~ what are you hungry for?"class="autocomplete">
            <label for="autocomplete-input"></label>
            </div>
            </div>
        </div>
        </div>
    </div>

<h3>~ Popular ~</h3>
<br/>
<br/>
<div class="highest-rated">    
    <div class="card-panel hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAwdHBvTUeEH5nDoMLzA6RCbuj2LJsQkbUFDk1ar4XGB5c0qOZ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right"></i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card-panel hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right"></i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card-panel hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="material-icons right"></i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
        </div>

<h3>~ Delivery ~</h3>
<div class="highest-rated">
    <br/>
    <div class="card-panel hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card-panel hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card-panel hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7mPUwoQJiU_fzscWny5LKauCLEPD7wYeZgjl9BrcmNTB34ku_cQ">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
<div class="card-panel hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY5yVFegEpIMBWjBI64uFRjcVM2x5GmLxPSxFSMjJ33G2prQYW">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p><a href="#">businesswebsite</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Andy's Food Shop<i class="material-icons right"></i></span>
              <p>A lot of good food here come and join us while we all eat good food</p>
            </div>
          </div>
        </div>
</div>




</div>
  <script> 
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.autocomplete');
    var instances = M.Autocomplete.init(elems, options);
  });


  // Or with jQuery

  $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: {
        "Mommys Donut Shop": null,
        "Muffin Peeps": null,
        "Gargoyle Express": 'https://placehold.it/250x250'
      },
    });
  });
  </script>

{% endblock %}